@import "../constants/public.scss";
@import "./ItemTop.scss";
@import "settings.scss";


.follow-party{
  .Item{
    .item-info{
      width: 100%;
      height: px2rem(124px);
      background-color: #FFFFFF;

      .item-info-top{
        border-bottom: px2rem(1px) solid #EBEBEB;
        p{
          margin-left: px2rem(10px);
          font-size: px2rem(16px);
          color: #000000;
          letter-spacing: px2rem(0px);

        }
        img{
          float: right;
          width: px2rem(15px);
          height: px2rem(17px);
          margin-top: px2rem(-30px);
          margin-right: px2rem(10px);
        }
      }




      .concrete{
        padding-top: px2rem(12px);
      }
    }


   }

}